.App {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
}

.App-header {
  text-align: center;
}

.movie-grid {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

/* MOVIE CARD */

.movie-card {
  position: relative;
  flex: 1 0 15rem;
  margin: 6px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
}

.movie-card-fill {
  flex: 1 0 15rem;
  margin: 6px;
  padding: 12px;
}

/* REMOVE BUTTON */

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  background-color: tomato;
}

/* LIKE / DISLIKE */

.like-dislike {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

meter {
  width: 100%;
}
